.root {
    -fx-background-color: #000000;
}
.label {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.button {
    -fx-font-size: 20;
    -fx-border-radius: 60;
}
.numbers {
    -fx-background-color: #B8BABC;
}
.numbers:pressed {
    -fx-background-color: #878787;
}
.operations {
    -fx-background-color: #F29E3E;
}
.operations:pressed {
    -fx-background-color: #C17F34;
}
.memorybuttons {
    -fx-background-color: #FF0000;
}
.memorybuttons:pressed {
    -fx-background-color: #BA0000;
}
.advancedbuttons {
    -fx-background-color: #84570a;
}
.advancedbuttons:pressed {
    -fx-background-color: #664206;
}
.controlbuttons {
    -fx-background-color: #FFFFFF;
}
.controlbuttons:pressed {
    -fx-background-color: #cccccc;
}

#equals {
    -fx-background-color: #00AF2B;
}
#equals:pressed {
    -fx-background-color: #007A1E;
}

#historydisplay {
    -fx-font-size: 10;
}